# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
# Set a visual ruler/column indicator at column 80
rulers = 80
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Language-specific
[*.scd]
indent_style = tab
indent_size = 1
